@charset "utf-8";
/* CSS Document */

body{
	font-family:Cambria;
}

#MainContainer{
	border:2px green solid;
	width:800px;
	height:500px;
	padding:8px;
	text-align:center;
}

table{
	width:100%;
}

.imageStyles{
	border-style:groove;
	height:150px;
	width:150px;
	text-align:center;
    margin:0 auto;
}

.playButtons{
    margin:0 auto;
}

.imageStyles img{
	padding-top:35px;
}

label{
	font-weight:bold;
	font-size:20px;
	color:Red;
}

input[type=button] {
    color:#08233e;
    padding:14px;
	width:350px;
	font-weight:bolder;
    background-color:rgba(255,204,0,1);
    border:1px solid #ffcc00;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
}
input[type=button]:hover {
    background-color:rgba(255,204,0,0.8);
}

.TableClass td {
    padding: 5px;
    margin: 5px;
}

.TableCellCenterAlign {
    text-align: center;
}